body {
    font-family: 'Tajawal', sans-serif;
    
}

article {
    margin: 100px;
    
}

p{
    color: #95a1a9fa;
}


input[type="text"]{
    width: 20%;
    min-height: 30px;
    margin: 0px;
    border-radius: 4px;
    border: 1px solid #eaeff2;
    font-size: 14px;
    margin-bottom: 18px;
	
}


input[type="password"]{
    width: 20%;
    min-height: 30px;
    margin: 0px;
    border-radius: 4px;
    border: 1px solid #eaeff2;
    font-size: 14px;
   
}
::placeholder {
    color: #95a1a9fa;
}

.head {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
}

button {
    background-color: #53a8f2;
    color: white;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight:bold;
    margin-right: 10px;
}

span {
    color: #50ade8;
    font-weight: 400;
}

i {
    font-size: 10px;
}