body{
  background-color: #334166;
}

h1{
  color: white;
  text-align: center;
  border: 10px double black;
  padding: 25px;
  background-origin: padding-box;
}

h2 {
	  color: white;
}
h3 {
	  color: white;
}
p {
   color: gold;
}
footer{
        background-color: #bf955a;  
}